.App {
    text-align: center;
}

html,
body,
.dark-back {
    background-color: #0b0c0d;
    --l0: #333;
    --l1: #fece5a;
    --l2: #ffa630;
    --l3: #ff7315;
    --l4: #e40000;
    --l5: #fd2992;
    --l6: #eb26cd;
    --l7: #c124e0;
    --l8: #9627f4;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

h2 {
    color: #ebbc4a;
    font-size: 1.2em;
    position: relative;
}

.ingress-frame {
    border: 1px solid #4a9299;
}

.ingress-button {
    background-color: #004746;
    border: 1px solid #0ff;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    color: #0ff;
    display: inline;
    margin: 3px;
    padding: 2px 15px;
}

.ingress-text{
    color: #59fbea;
    font-family: coda_regular, arial, helvetica, sans-serif;
}

.level_0 {
    color: var(--l0);
}

.level_1 {
    color: var(--l1);
}

.level_2 {
    color: var(--l2);
}

.level_3 {
    color: var(--l3);
}

.level_4 {
    color: var(--l4);
}

.level_5 {
    color: var(--l5);
}

.level_6 {
    color: var(--l6);
}

.level_7 {
    color: var(--l7);
}

.level_8 {
    color: var(--l8);
}

table.compass{
    margin-top: 10px;
}
table.compass tbody tr{
    height: 50px;
    width: 150px;
    text-align: center;
}

table.compass tbody tr td{
    width: 50px;
}

td.selector{
    cursor: pointer;
    background-color: #004746;
    border: 1px solid #0ff;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    color: #0ff;
}
